/target/
!.mvn/wrapper/maven-wrapper.jar
/node_modules/

### Local database credentials / secrets (never commit) ###
.env
.env.*
*.local.ps1
*.local.sh
application-local.yaml
application-local.yml

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
.java-version

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
/build/
